# The Survival of Titanic Passengers

Hello! Here we aimed to predict whether the titanic passenger survive or not by looking on the passenger information. The first time that comes into my mind is that 'How cruel!' We have to predict which one survived which one dead. But again, this is for educational purposes, right? So, this information could be useful for improving how we dead with the data so that we could get a higher accuracy, OR by observing the relationship between the features, we might can prevent any future accident. At least we could be aware of that :D
<br>
<br>
The link to the dataset can be found on the following link : https://www.kaggle.com/c/titanic
<br>
Data Dictionary <br>
Variable	Definition	Key <br>
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [111]:
############ Compulsory Standard Library #################
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
import numbers
import math
import pickle

############ Sklearn pre-processing Library #################
from sklearn.metrics import accuracy_score
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

############ Sklearn model Library #################
from sklearn.linear_model import LogisticRegression
# import sklearn.linear_model

## Load the Dataset

In [65]:
def load_vocabulary(filename):
    vocabulary = []
    with open(filename, 'r') as f:
        for l in f:
            vocabulary.append(l.strip())
    return vocabulary

In [97]:
def extract(words, key):
#     vocab = [s for s in words if key in s]
    filename = words + '.txt'
    with open(filename, mode='w', encoding='utf8') as w:
        for i in key:
#             print(i)
            w.write(str(i))
            w.write('\n')
        w.close()

In [2]:
train_df = pd.read_csv("./train.csv")
test_df = pd.read_csv("./test.csv")

## Data Description

In [3]:
print('# of Features : ', train_df.shape[1])
print('Train Data Samples : ', train_df.shape[0])
print('Test Data Samples : ', test_df.shape[0])

# of Features :  12
Train Data Samples :  891
Test Data Samples :  418

PassengerID : Unique Value
Name : Does not contribute to the result

## Preprocessing the Data

This function is for eliminating the 'NaN' value on the data

In [4]:
def nan_eliminate(X_data):
    data_mean = np.nanmean(X_data, axis=0)
#     for j in range(0,X_data.shape[1]):
    for i in range(0,X_data.shape[0]):
        if math.isnan(X_data[i]):
            X_data[i] = data_mean
    return X_data

In [5]:
#### 1. One hot encoding
#### 2. delete the matrix
#### 3. return the X_train matrix

def one_hot_encoding(X_data, dummy=True):
    one_hot_encoding_data = pd.get_dummies(X_data, dummy_na=dummy)
    return one_hot_encoding_data

In [6]:
# X_train = train_df.iloc[:,2:]
y_train = np.array(train_df.iloc[:, 1])
y_test = np.array(test_df.iloc[:,1])

print('Total positive sample : ', np.sum(y_train == 1))
print('Total negative sample : ', np.sum(y_train == 0))
print('The train data is unbalanced')

Total positive sample :  342
Total negative sample :  549
The train data is unbalanced

In [7]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [114]:
pclass = one_hot_encoding(train_df.iloc[:,2], dummy=False)
sex = one_hot_encoding(train_df.iloc[:,4], dummy=False)
sibling = one_hot_encoding(train_df.iloc[:,6], dummy=False)
parent = one_hot_encoding(train_df.iloc[:,7], dummy=False)
# cabin = one_hot_encoding(train_df.iloc[:,10])
embarked = one_hot_encoding(train_df.iloc[:,11], dummy=False)

In [115]:
age_original = train_df.iloc[:,5]
fare_original = train_df.iloc[:,9]
age_previous = nan_eliminate(age_original)
fare_previous = nan_eliminate(fare_original)
age = []
fare = []


for i in age_previous:
    if i <= 10:
        group = 1
    elif i <= 20:
        group = 2
    elif i <= 30:
        group = 3
    elif i <= 40:
        group = 4
    elif i <= 50:
        group = 5
    elif i <= 60:
        group = 6
    elif i <= 70:
        group = 7
    else:
        group = 8
    age.append(group)

age = one_hot_encoding(age, dummy=False)
for i in fare_previous:
    if i <= 100:
        fare_group = 1
    else:
        fare_group = 2
        
    fare.append(fare_group)
fare = one_hot_encoding(fare, dummy=False)

In [116]:
token = r"(?u)\b[\w\'/]+\b"
prefix = ['mr', 'miss', 'mrs', 'master', 'dr']
cv = CountVectorizer(lowercase=True, binary=True, token_pattern=token)
name_token = cv.fit_transform(train_df["Name"])
name_list = cv.get_feature_names()

# for i in name_list:
#     print(i)

freq = np.sum(name_token, axis=0)
indices_descending = np.argsort(freq.A1)[::-1]
# for i in range(0, len(indices_descending)):
#     print(name_list[indices_descending[i]])
#     if "dr" in name_list[indices_descending[i]]:
#         print(name_list[indices_descending[i]],
#          '\t', freq[0, indices_descending[i]])

# for i in range(0, len(indices_descending)):
#     if "rose" in name_list[indices_descending[i]]:
#         print(indices_descending[i], name_list[indices_descending[i]])

# 1498
# 1499
# william_alive = 0
# william_dead = 0
# for i in range(0, len(y_train)):
#     if name_token[i, 1498] == 1 and y_train[i] == 1:
#         william_alive = william_alive + 1
#     elif name_token[i, 1498] == 1 and y_train[i] == 0:
#         william_dead = william_dead + 1

# print(william_alive, ' ', william_dead)

prefix_indices = []
for i in range(0,len(name_list)):
    for j in range(0, len(prefix)):
        if name_list[i] == prefix[j]:
            prefix_indices.append(i)

# name_token[:, prefix_indices[0]].todense().shape
X_name = np.concatenate((name_token[:, prefix_indices[0]].todense(), 
                         name_token[:, prefix_indices[1]].todense(),
                         name_token[:, prefix_indices[2]].todense(),
                         name_token[:, prefix_indices[3]].todense(),
                         name_token[:, prefix_indices[4]].todense()),
                       axis=1)

In [117]:
ticket_cv = CountVectorizer(lowercase=True, binary=True, token_pattern=token, ngram_range=(1,1), min_df=2)
ticket_matrices = ticket_cv.fit_transform(train_df["Ticket"])
ticket_token = ticket_cv.get_feature_names()
print(len(ticket_token))
# [i for i in ticket_token]
freq_ticket = np.sum(ticket_matrices, axis=0)
ticket_indices_descending = np.argsort(freq_ticket.A1)[::-1]

new_ticket_token = []
# for i in ticket_token:
#     if(i.isalpha()):
#         ticket_token = [w.replace(i, '99') for w in ticket_token]

new_ticket_token = [] 
for i in ticket_original:     
    if(i.isnumeric()):         
        new_ticket_token.append(int(i))     
    else:         
        new_ticket_token.append(99)          

# print(new_ticket_token)

extract("ticket", new_ticket_token)
print(len(new_ticket_token))

ticket_final = []
for i in new_ticket_token:
    if i <= 100000:
        group = 1
    elif i <= 200000:
        group = 2
    elif i <= 300000:
        group = 3
    elif i <= 400000:
        group = 4
    else:
        group = 5
    ticket_final.append(group)

ticket = one_hot_encoding(ticket_final, dummy=False)
print(len(ticket))

160
891
891

In [142]:
cabin_original = train_df["Cabin"]
cabin = []

# print(cabin_original)
for i in range(0,len(cabin_original)):
    if  in cabin_original[i]:
        cabin.append(1)
    else:
        cabin.append(2)
print(cabin)

TypeError: argument of type 'float' is not iterable

In [108]:
X_train = np.concatenate((pclass, X_name, sex, age, sibling, parent, ticket, fare,embarked), axis=1)
# X_train = np.concatenate((pclass,), axis=1)
# X_train = np.concatenate((X_train, age), axis=1)
print(X_train.shape)

(891, 42)

In [105]:
print(pclass.shape)
print(X_name.shape)
print(sex.shape)
print(age.shape)
print(sibling.shape)
print(parent.shape)
print(ticket.shape)
print(fare.shape)
# print(cabin.shape)
print(embarked.shape)

(891, 3)
(891, 5)
(891, 2)
(891, 8)
(891, 7)
(891, 7)
(891, 5)
(891, 2)
(891, 3)

In [107]:
print(X_train[:5,:])

[[0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
  1 0 0 0 1]
 [1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
  1 0 1 0 0]
 [0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
  1 0 0 0 1]
 [1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0
  1 0 0 0 1]
 [0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0
  1 0 0 0 1]]

In [17]:
# train_df["Name"]