# The Survival of Titanic Passengers

Hello! Here we aimed to predict whether the titanic passenger survive or not by looking on the passenger information. The first time that comes into my mind is that 'How cruel!' We have to predict which one survived which one dead. But again, this is for educational purposes, right? So, this information could be useful for improving how we dead with the data so that we could get a higher accuracy, OR by observing the relationship between the features, we might can prevent any future accident. At least we could be aware of that :D
<br>
<br>
The link to the dataset can be found on the following link : https://www.kaggle.com/c/titanic
<br>
Data Dictionary <br>
Variable	Definition	Key <br>
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [96]:
############ Compulsory Standard Library #################
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
import math
import pickle

############ Sklearn pre-processing Library #################
from sklearn.metrics import accuracy_score
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

############ Sklearn model Library #################
from sklearn.linear_model import LogisticRegression
# import sklearn.linear_model

## Load the Dataset

In [3]:
train_df = pd.read_csv("./train.csv")
test_df = pd.read_csv("./test.csv")

## Data Description

In [4]:
print('# of Features : ', train_df.shape[1])
print('Train Data Samples : ', train_df.shape[0])
print('Test Data Samples : ', test_df.shape[0])

# of Features :  12
Train Data Samples :  891
Test Data Samples :  418

PassengerID : Unique Value
Name : Does not contribute to the result

## Preprocessing the Data

This function is for eliminating the 'NaN' value on the data

In [39]:
def nan_eliminate(X_data):
    data_mean = np.nanmean(X_data, axis=0)
#     for j in range(0,X_data.shape[1]):
    for i in range(0,X_data.shape[0]):
        if math.isnan(X_data[i]):
            X_data[i] = data_mean
    return X_data

In [22]:
#### 1. One hot encoding
#### 2. delete the matrix
#### 3. return the X_train matrix

def one_hot_encoding(X_data, dummy=True):
    one_hot_encoding_data = pd.get_dummies(X_data, dummy_na=dummy)
    return one_hot_encoding_data

In [7]:
# X_train = train_df.iloc[:,2:]
y_train = np.array(train_df.iloc[:, 1])
y_test = np.array(test_df.iloc[:,1])

print('Total positive sample : ', np.sum(y_train == 1))
print('Total negative sample : ', np.sum(y_train == 0))
print('The train data is unbalanced')

Total positive sample :  342
Total negative sample :  549
The train data is unbalanced

In [18]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
pclass = one_hot_encoding(train_df.iloc[:,2], dummy=False)
sex = one_hot_encoding(train_df.iloc[:,4], dummy=False)
sibling = one_hot_encoding(train_df.iloc[:,6], dummy=False)
parent = one_hot_encoding(train_df.iloc[:,7], dummy=False)
cabin = one_hot_encoding(train_df.iloc[:,10])
embarked = one_hot_encoding(train_df.iloc[:,11], dummy=False)

In [82]:
age_original = train_df.iloc[:,5]
fare_original = train_df.iloc[:,9]
age_previous = nan_eliminate(age_original)
fare_previous = nan_eliminate(fare_original)
age = []
fare = []


for i in age_previous:
    if i <= 10:
        group = 1
    elif i <= 20:
        group = 2
    elif i <= 30:
        group = 3
    elif i <= 40:
        group = 4
    elif i <= 50:
        group = 5
    elif i <= 60:
        group = 6
    elif i <= 70:
        group = 7
    else:
        group = 8
    age.append(group)

age = one_hot_encoding(age, dummy=False)
for i in fare_previous:
    if i <= 100:
        fare_group = 1
    else:
        fare_group = 2
        
    fare.append(fare_group)
fare = one_hot_encoding(fare, dummy=False)

In [92]:
X_train = np.concatenate((pclass, sex, age, sibling, parent, fare,embarked), axis=1)
# X_train = np.concatenate((pclass,), axis=1)
# X_train = np.concatenate((X_train, age), axis=1)
print(X_train.shape)

(891, 32)

In [94]:
print(pclass.shape)
print(sex.shape)
print(age.shape)
print(sibling.shape)
print(parent.shape)
print(fare.shape)
# print(cabin.shape)
print(embarked.shape)

(891, 3)
(891, 2)
(891, 8)
(891, 7)
(891, 7)
(891, 2)
(891, 3)

In [95]:
train_df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [171]:
token = r"(?u)\b[\w\'/]+\b"
cv = CountVectorizer(lowercase=True, binary=True, token_pattern=token)
name_token = cv.fit_transform(train_df["Name"])
name_list = cv.get_feature_names()

# for i in name_list:
#     print(i)

freq = np.sum(name_token, axis=0)
indices_descending = np.argsort(freq.A1)[::-1]
# for i in range(0, len(indices_descending)):
#     print(name_list[indices_descending[i]])
#     if "dr" in name_list[indices_descending[i]]:
#     print(name_list[indices_descending[i]],
#          '\t', freq[0, indices_descending[i]])

# for i in range(0, len(indices_descending)):
#     if "rose" in name_list[indices_descending[i]]:
#         print(indices_descending[i], name_list[indices_descending[i]])

# 1498
# 1499
william_alive = 0
william_dead = 0
for i in range(0, len(y_train)):
    if name_token[i, 1498] == 1 and y_train[i] == 1:
        william_alive = william_alive + 1
    elif name_token[i, 1498] == 1 and y_train[i] == 0:
        william_dead = william_dead + 1

print(william_alive, ' ', william_dead)

22   41

In [176]:
ticket_matrices = cv.fit_transform(train_df["Ticket"])
ticket_token = cv.get_feature_names()

[i for i in ticket_token]

['10482',
 '110152',
 '110413',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '11206',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113760',
 '113767',
 '113773',
 '113776',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113800',
 '113803',
 '113804',
 '113806',
 '113807',
 '1166',
 '11668',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '12233',
 '12460',
 '12749',
 '12750',
 '13032',
 '13049',
 '13213',
 '13214',
 '13502',
 '13507',
 '13509',
 '13528',
 '13529',
 '13531',
 '13567',
 '13568',
 '14208',
 '14258',
 '14263',
 '14311',
 '14312',
 '14313',
 '14879',
 '14885',
 '14973',
 '1585',
 '1601',
 '16966',
 '16988',
 '17248',
 '17318',
 '17369',
 '17421',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17473',
 '17474',
 '17475',
 '17476',
 '17477',
 '1748',
 '17482',
 '17483',
 '17485',
 '17558',
 '17569',
 '17572',
 '17582',
 '17585',
 '17590',
 '17592',
 '17593',
 '17595',
 '17596',
 '17597',
 '17599',
 '17600',
 '17601',
 '17603',
 '17604',
 '17605',
 '17608',
 '17609',
 '17610',
 '17611',
 '17612',
 '17754',
 '17755',
 '17756',
 '17757',
 '17758',
 '17759',
 '17760',
 '17761',
 '17764',
 '18509',
 '18723',
 '19877',
 '19928',
 '19943',
 '19947',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '2',
 '2003',
 '20589',
 '2079',
 '211536',
 '21171',
 '21172',
 '21173',
 '21174',
 '2123',
 '2131',
 '2133',
 '2144',
 '21440',
 '2146',
 '2149',
 '2151',
 '2152',
 '2163',
 '2167',
 '218629',
 '219533',
 '220367',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230136',
 '230433',
 '230434',
 '2314',
 '2315',
 '231919',
 '231945',
 '233639',
 '233866',
 '2343',
 '234360',
 '234604',
 '234686',
 '234818',
 '23567',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237789',
 '237798',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '240929',
 '24160',
 '243847',
 '243880',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244373',
 '24579',
 '24580',
 '2466',
 '248698',
 '248706',
 '248723',
 '248727',
 '248731',
 '248733',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250646',
 '250647',
 '250648',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2653',
 '265302',
 '2659',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2666',
 '2667',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2673',
 '2674',
 '2677',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '2816',
 '2817',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '29037',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29108',
 '29178',
 '2926',
 '29395',
 '29566',
 '29750',
 '29751',
 '3',
 '3085',
 '3101264',
 '3101265',
 '3101267',
 '3101269',
 '3101271',
 '3101272',
 '3101273',
 '3101274',
 '3101275',
 '3101276',
 '3101277',
 '3101278',
 '3101279',
 '3101280',
 '3101281',
 '3101282',
 '3101283',
 '3101285',
 '3101286',
 '3101287',
 '3101288',
 '3101289',
 '3101290',
 '3101292',
 '3101293',
 '3101294',
 '3101295',
 '3101296',
 '3101298',
 '3101305',
 '3101306',
 '3101307',
 '3101310',
 '3101311',
 '3101312',
 '3101316',
 '3101317',
 '31026',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '31921',
 '3235',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '33111',
 '33112',
 '3336',
 '3337',
 '334912',
 '335097',
 '335677',
 '33595',
 '33638',
 '336439',
 '3381',
 '34068',
 '3411',
 '341826',
 '34218',
 '34244',
 '34260',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '3464',
 '34651',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347078',
 '347080',
 '347081',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35281',
 '3536',
 '3540',
 '35851',
 '35852',
 '358585',
 '3594',
 '36209',
 '362316',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364846',
 '364848',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367228',
 '367229',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36947',
 '36963',
 '36967',
 '36973',
 '370129',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376566',
 '37671',
 '382649',
 '382651',
 '382652',
 '383121',
 '384461',
 '386525',
 '3902',
 '392076',
 '392078',
 '392082',
 '392086',
 '392087',
 '392089',
 '392090',
 '392091',
 '392092',
 '392096',
 '394140',
 '39886',
 '4',
 '4001',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4348',
 '45380',
 '4579',
 '48871',
 '5',
 '541',
 '54510',
 '54636',
 '5547',
 '5727',
 '5734',
 '5735',
 '6212',
 '65303',
 '65304',
 '65306',
 '6563',
 '6607',
 '6608',
 '6609',
 '693',
 '695',
 '7075',
 '7076',
 '7077',
 '7267',
 '751',
 '752',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '851',
 '9234',
 '9549',
 'a',
 'a/4',
 'a/5',
 'a/s',
 'a4',
 'basle',
 'c',
 'ca',
 'e',
 'f',
 'fa',
 'line',
 'o',
 'p',
 'p/pp',
 'paris',
 'pc',
 'pp',
 'q',
 's',
 'sc',
 'sc/ah',
 'sc/paris',
 'sco/w',
 'so/c',
 'soton',
 'soton/o',
 'soton/o2',
 'soton/oq',
 'ston/o',
 'ston/o2',
 'sw/pp',
 'w',
 'w/c',
 'we/p']